node_modules
**/node_modules

.git
.gitignore

.next
**/.next

dist
**/dist

coverage
**/coverage

.turbo

.vscode
.idea

.env
.env.*
!.env.example

*.log

Dockerfile
docker-compose.yml

.gitlab

tmp
temp

*.tsbuildinfo